USE [master]
GO
/****** Object:  Database [StundenplanDB]    Script Date: 17.12.2025 18:54:57 ******/
CREATE DATABASE [StundenplanDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StundenplanDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\StundenplanDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StundenplanDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\StundenplanDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StundenplanDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StundenplanDB]
GO
/****** Object:  Table [dbo].[Klassen]    Script Date: 17.12.2025 18:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klassen](
	[KlassenID] [int] IDENTITY(1,1) NOT NULL,
	[KlassenName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KlassenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[KlassenName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lehrer]    Script Date: 17.12.2025 18:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lehrer](
	[LehrerID] [int] IDENTITY(1,1) NOT NULL,
	[LehrerName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LehrerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schulzimmer]    Script Date: 17.12.2025 18:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schulzimmer](
	[ZimmerID] [int] IDENTITY(1,1) NOT NULL,
	[ZimmerBezeichnung] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ZimmerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ZimmerBezeichnung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stundenplan]    Script Date: 17.12.2025 18:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stundenplan](
	[StundenplanID] [int] IDENTITY(1,1) NOT NULL,
	[KlassenID] [int] NOT NULL,
	[LehrerID] [int] NOT NULL,
	[ZimmerID] [int] NOT NULL,
	[Datum] [date] NOT NULL,
	[Uhrzeit] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StundenplanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Stundenplan]  WITH CHECK ADD  CONSTRAINT [FK_Stundenplan_Klassen] FOREIGN KEY([KlassenID])
REFERENCES [dbo].[Klassen] ([KlassenID])
GO
ALTER TABLE [dbo].[Stundenplan] CHECK CONSTRAINT [FK_Stundenplan_Klassen]
GO
ALTER TABLE [dbo].[Stundenplan]  WITH CHECK ADD  CONSTRAINT [FK_Stundenplan_Lehrer] FOREIGN KEY([LehrerID])
REFERENCES [dbo].[Lehrer] ([LehrerID])
GO
ALTER TABLE [dbo].[Stundenplan] CHECK CONSTRAINT [FK_Stundenplan_Lehrer]
GO
ALTER TABLE [dbo].[Stundenplan]  WITH CHECK ADD  CONSTRAINT [FK_Stundenplan_Zimmer] FOREIGN KEY([ZimmerID])
REFERENCES [dbo].[Schulzimmer] ([ZimmerID])
GO
ALTER TABLE [dbo].[Stundenplan] CHECK CONSTRAINT [FK_Stundenplan_Zimmer]
GO
USE [master]
GO
